/* CSS Document */
@font-face {
   font-family: 'Futura_Today';
   src: url('../fonts/futura_today_normal.eot');
   src: url('../fonts/futura_today_normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_today_normal.woff') format('woff'),
        url('../fonts/futura_today_normal.ttf') format('truetype'),
        url('../fonts/futura_today_normal.svg#Futura_Today') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura_Today_Bold';
   src: url('../fonts/futura_today_bold.eot');
   src: url('../fonts/futura_today_bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_today_bold.woff') format('woff'),
        url('../fonts/futura_today_bold.ttf') format('truetype'),
        url('../fonts/futura_today_bold.svg#Futura_Today_Bold') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura_Today_Light';
   src: url('../fonts/futura_today_light.eot');
   src: url('../fonts/futura_today_light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_today_light.woff') format('woff'),
        url('../fonts/futura_today_light.ttf') format('truetype'),
        url('../fonts/futura_today_light.svg#Futura_Today_Light') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura_Today_Demibold';
   src: url('../fonts/FuturaTodayScreenDemiBold.eot');
   src: url('../fonts/FuturaTodayScreenDemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaTodayScreenDemiBold.woff') format('woff'),
        url('../fonts/FuturaTodayScreenDemiBold.ttf') format('truetype'),
        url('../fonts/helveticaneue-light-webfont.svg#Helvetica_Neue_Light') format('svg');
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: 'Helvetica_Neue_Light';
   src: url('../fonts/helveticaneue-light-webfont.eot');
   src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneue-light-webfont.woff') format('woff'),
        url('../fonts/helveticaneue-light-webfont.ttf') format('truetype'),
        url('../fonts/helveticaneue-light-webfont.svg#Helvetica_Neue_Light') format('svg');
   font-style: normal;
   font-weight: normal;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
}
body * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko         */
	box-sizing: border-box;
}
.top-wrap {
	width: 100%;
	}
.top-wrap div {
	display: table-cell;
	vertical-align: middle;
	}
.top-wrap .score {
	height: 60px;
	background: rgb(245,245,245);
	width: 26.5625%;
}
.top-wrap .left-logo {
	width: 14.0265%;
	margin-left: 6.25%;
}
.top-wrap .rt-logo {
	width:  14.0265%;
	margin-right: 6.25%;
}
.team {
	width: 19.5315%;
	
	}
.right {
	text-align: right;
	padding-right: 6.25%;
}
.left {
	text-align: left;
	padding-left: 6.25%;
}
.top-wrap .left-logo img,
.top-wrap .rt-logo img {
	max-width: 100%;
	height: auto;
	}
/*div.score { box-sizing:border-box; width:50%; border-right:1px solid #000; }*/  