/* CSS Document */
@font-face {
   font-family: 'Futura_Today';
   src: url('../fonts/futura_today_normal.eot');
   src: url('../fonts/futura_today_normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_today_normal.woff') format('woff'),
        url('../fonts/futura_today_normal.ttf') format('truetype'),
        url('../fonts/futura_today_normal.svg#Futura_Today') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura_Today_Bold';
   src: url('../fonts/futura_today_bold.eot');
   src: url('../fonts/futura_today_bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_today_bold.woff') format('woff'),
        url('../fonts/futura_today_bold.ttf') format('truetype'),
        url('../fonts/futura_today_bold.svg#Futura_Today_Bold') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura_Today_Light';
   src: url('../fonts/futura_today_light.eot');
   src: url('../fonts/futura_today_light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_today_light.woff') format('woff'),
        url('../fonts/futura_today_light.ttf') format('truetype'),
        url('../fonts/futura_today_light.svg#Futura_Today_Light') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura_Today_Demibold';
   src: url('../fonts/FuturaTodayScreenDemiBold.eot');
   src: url('../fonts/FuturaTodayScreenDemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaTodayScreenDemiBold.woff') format('woff'),
        url('../fonts/FuturaTodayScreenDemiBold.ttf') format('truetype'),
        url('../fonts/helveticaneue-light-webfont.svg#Helvetica_Neue_Light') format('svg');
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: 'Helvetica_Neue_Light';
   src: url('../fonts/helveticaneue-light-webfont.eot');
   src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneue-light-webfont.woff') format('woff'),
        url('../fonts/helveticaneue-light-webfont.ttf') format('truetype'),
        url('../fonts/helveticaneue-light-webfont.svg#Helvetica_Neue_Light') format('svg');
   font-style: normal;
   font-weight: normal;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	
}
body * {
	font-family: 'Futura_Today';
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko         */
	box-sizing: border-box;
}
.top-wrap {
	width: 100%;
	text-align: center;
	display: table;
	}
.top-wrap div {
	display: table-cell;
	vertical-align: middle;
	}
.top-wrap .score {
	height: 60px;
	background: rgb(245,245,245);
	width: 26.5625%;
	text-align: center;
	font-size: 25px;
	font-family: 'Futura_Today_Demibold';
}
.top-wrap .left-logo {
	width: 16.875%;
	padding-left: 20px;
	text-align: left;
}
.top-wrap .rt-logo {
	width:  16.875%;
	/*padding-right: 3.125%;*/
	padding-right: 20px;
	text-align: right;
}
.team {
	width: 19.5315%;
	 font-family: 'Futura_Today_Demibold';
	 font-size: 25px;
	}
.right {
	text-align: right;
	padding-right: 20px;
}
.left {
	text-align: left;
	padding-left: 20px;
}
.top-wrap .left-logo img,
.top-wrap .rt-logo img {
	max-width: 100%;
	height: auto;
	}
.sog {
	font-size: 11px;
	font-family: 'Futura_Today';
	width: 100%;
	display: block;
	}
.tar {
	text-align: right;
	}
.spike {
	color:#ddd;
	font-family: 'Futura_Today';
	border-right: 1px solid #ddd;margin-right: 8px;margin-left: 4px;
	}
h2.main-header {
	line-height: 30px;
	background: #ccc;
	width: 100%;
	font-family: 'Futura_Today_Bold';
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 15px;
	margin: 0;
}
h3.main-header {
	line-height: 20px;
	background-color: rgb(243,243,244);
	width: 100%;
	font-family: 'Futura_Today_Demibold';
	font-size: 11px;
	text-transform: uppercase;
	padding-left: 15px;
	margin: 0;
}
.thirds,
.gamecast-submenu {
	width: 100%;
	overflow: hidden;
	display: table;
	}
.gamecast-submenu div {
	line-height: 30px;
	width: 16.6666666666667%;
	display: table-cell;
	border-right: 1px solid #ddd;
	vertical-align: middle;
	font-size: 11px;
	background-color: rgb(243,243,244);
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: 3px solid rgb(243,243,244);
	}


.gamecast-submenu div.active {
	border-bottom-color: red;
	font-family: 'Futura_Today_Bold';
	background-color: rgb(243,243,244);
	background-image: url('../images/red-arrow.png')!important;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 11px 6px;
	}	
.gamecast-submenu div.na {
	color: #999;
}
.rink-wrap {
	height: 100%;
	margin-bottom: 3%;
	margin-top: 6%;
	overflow: hidden;
	width: 100%;
}
.rink {
	background-image: url('../images/rink-novector.png');
	background-position: center center;
	background-repeat:  no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
}
.responsive-image {
    background-size: 100% 100%;
    width: 100%;
    z-index: 1;
} 
.home-team {
	height: 60%;
	left: 6%;
	overflow: hidden;
	position: absolute;
	top: 20%;
	width: auto;
	z-index: 10;
}
.away-team {
	position: absolute;
	z-index: 10;
	height: 60%;
	top: 20%;
	right: 6%;
	overflow: hidden;
	width: auto;
}
.center-ice {
	height: 20%;
	left: 45%;
	position: absolute;
	top: 40%;
	width: auto;
	z-index: 40;
}
.center-ice img,
.away-team img,
.home-team img {
	height: 100%;
	opacity: .10;
	width: auto;
}
.center-ice img {
	opacity: .75
}
.goal,
.shot,
.hit,
.penalty {
	position: absolute;
	z-index: 60;
	overflow: hidden;
	width: 4%;
	height: auto;
}
.goal img,
.shot img,
.hit img,
.penalty img {
	width: 100%;
	height: auto;
}
.legend-wrap {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-bottom: 3.5%;
}
ul.summary,
.legend-wrap ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.summary {
	display: table;
	border-top: 1px solid #E1E2E4;
	}
h3.main-header + ul.summary {
	border-top: 0px solid red;
}
ul.summary li {
	display: table-cell;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	padding: 18px 20px 18px 0;
}
.legend-wrap ul li span {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	margin-left: 5px;
	margin-right: 10px;
}
.legend-wrap ul li {
	display: inline-block;
	width: auto;
}
.legend-wrap ul li img {
	width: 15px;
	height: auto;
	vertical-align: middle;
}
ul.summary li.time {
	width: 100px;
	padding-left: 15px;
	text-transform: uppercase;
}
.legend-wrap ul li a.inactive img,
.legend-wrap ul li a.inactive span {
	opacity: .25;
	color: #000;
}
.legend-wrap ul li a.active span {
	opacity: 1;
	color: #000;
}
/*div.score { box-sizing:border-box; width:50%; border-right:1px solid #000; }*/  